name: Security scanning

on:
  pull_request:
    branches:
      - master

env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  REPOSITORY: geo-server

jobs:
  checkout:
    name: Checkout repo
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Save repo to artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.REPOSITORY }}"
          path: .
          overwrite: true
          if-no-files-found: error
          retention-days: 1
          include-hidden-files: true

  scanning:
    name: Scan for security checks
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    strategy:
      fail-fast: false

    steps:
      - name: Download repo artifact
        uses: actions/download-artifact@v5
        with:
          name: "${{ env.REPOSITORY }}"
          path: .

      - name: GitGuardian scan
        uses: GitGuardian/ggshield-action@v1.44.0
        env:
          GITHUB_PUSH_BEFORE_SHA: ${{ github.event.before }}
          GITHUB_PUSH_BASE_SHA: ${{ github.event.base }}
          GITHUB_PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}

      - name: Sonar scan
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarcloud-github-action@v5.0.0

      - name: "SonarQube Quality result"
        run: |
          echo "Quality gate status: ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
